{% load static %}
{% include 'html/navbar.html' %}
<link rel="stylesheet" href="{% static 'css/carrinho.css' %}">
<link rel="shortcut icon" href="{% static 'img/cart.ico' %}" type="image/x-icon">
<main>
    <div class="container">
        <div class="btn-continuar-container">
            <a href="{% url 'index' %}">
                <button class="btn-continuar">
                    <h3>Continuar Comprando</h3>
                </button>
            </a>
        </div>
        <hr>
        <div class="itens-compra-container">
            <p class="item">Itens: <strong>1</strong></p>
            <p class="preco">Total: <strong>R$</strong></p>
            <a href="{% url 'compra' %}"><button class="btn-confirmar-compra">Prosseguir</button></a>
        </div>
    </div>
    <div class="info-container">
            <div class="carrinho-row">
                <div style="flex:1.5"></div>
                <div style="flex:1.7"  class="info"><strong>Item</strong></div>
                <div style="flex:1" class="info"><strong>Preco</strong></div>
                <div style="flex:1" class="info"><strong>Quantidade</strong></div>
                <div style="flex:1" class="info"><strong>Total</strong></div>
            </div>
            <hr>
            {% for carrinho in carrinhos %}
            <div class="carrinho-list">
                <figure style="flex:1.5"><img class="produto" src="{{carrinho.produto.imageURL}}" alt="">
                </figure>
                <div style="flex:1.7" class="info">{{carrinho.produto.nome}}</div>
                <div style="flex:1"  class="info">R${{carrinho.produto.preco|floatformat:2}}</div>
                <div style="flex:1"  class="info">
                    <figure style=" margin-left: 5px;  display: flex; align-items: center; gap: 5px;" class="arrows">
                        {{carrinho.quantidade}}
                        <img style="margin-left: 5px;  width: 10px; height: 8px; display: block; cursor: pointer;"  src="{% static 'img/arrow-up.png' %}" alt="">
                        <img style="width: 10px; height: 8px; cursor: pointer;"  src="{% static 'img/arrow-down.png' %}" alt="">
                    </figure>
                </div>
                <div style="flex:1"  class="info">R${{carrinho.totalPrice|floatformat:2}}</div>
            </div>
            <hr>
            {% endfor %}
          
            
    </div>
</main>



