<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado</title>
</head>
<body>
    {% include 'html/navbar.html' %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quod illum doloremque, repellendus nobis quos delectus voluptas at expedita debitis fugit quis ipsa itaque, quam consectetur corrupti vel! Molestiae, itaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius facilis fugit incidunt impedit eum laudantium iure aliquid corporis ea quos in voluptatibus dolorem molestiae harum animi, nam excepturi fuga rerum?</p>
</body>
</html>