{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<header>
    <div class="header-container">
        <nav class="links-container">
            <ul>
                <li><a class="link" href="{% url 'index' %}">Inicio</a></li>
                <li><a class="link" href="{% url 'produtos' %}">Produtos</a></li>
                <li><a class="link" href="{% url 'carrinho' %}">Carrinho</a></li>
                <li><a class="link" href="{% url 'associados' %}">Associados</a></li>
            </ul>
        </nav>
    </div>
</header>
