{% include 'html/navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/produtos.css' %}">
</head>
<body>
    <main>
        <h2>Produtos Disponíveis</h2>
        <div class="produto-container">
            <div class="card-produto">
                <img class="img-produto" src="{% static 'img/arroz.png' %}" alt="1kg arroz">
                <article class="descricao-produto">
                    <h3 class="produto">Arroz 1kg</h2>
                    <p class="preco">R$7,99</p>
                </article>
                <button>Comprar</button>
            </div>
        </div> 
    </main>
</body>
</html>