{% include 'html/navbar.html' %}
{% load static %}
<link rel="shortcut icon" href="{% static 'img/cart.ico' %}" type="image/x-icon">
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/produtos.css' %}">
</head>
<body>
    <main>
        <h2>Produtos Disponíveis</h2>
        <div class="produto-container">
            {% for produto in produtos %}
            <div class="card-produto">
                <img class="img-produto" src="{{produto.imagem.url}}" alt="produto">
                <article class="descricao-produto">
                    <h3 class="produto">{{produto.nome}}</h2>
                    <p  class="preco">R${{produto.preco|floatformat:2}}</p>
                </article>
                <button>Adicionar ao Carrinho</button>
            </div>
            {% endfor %}
        </div> 
        
    </main>
</body>
</html>