*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.292);
}


ul{
    display: flex;
    gap: 50px; 
    list-style: none;
}

a{
    color: gray;
    text-decoration: none;
}

a:hover{
    color: #0000EE;
}


nav{
    margin: auto;
}

.header-container{
    align-items: center;
    display: flex;
}
