main{
    background-color: #e7e7e76c;
    padding: 20px;
    height: 1000px;
}

button{
    margin-top: 40px;
    cursor: pointer;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: #bb1523c4;
    color: white;
    border: none;
    transition: transform 0.5s;
}


.produto{
    color: #595959;
}

.produto-container{
    justify-content: center;
    display: grid; 
    grid-template-columns: 350px 350px 350px;
    padding: 20px;   
}

.card-produto{
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.275);
}

.img-produto{
    margin-bottom: 10px;
    width: 250px; 
    height: 220px;
}

.preco{
    margin-top: 10px;
    font-size: 1.5em;
    color: #10757A;
    font-weight: bold;
}